<h5>Portfolio Page</h5>
<section class="father">
    <div class="bro1">
        <img src="image/town.jpg" alt="town" width="300px" height="300px">
        <p>beauty</p>
    </div>

    <div class="bro2">
        <img src="image/train.jpg" alt="train" width="300px" height="300px">
        <p>train</p>
    </div>

    <div class="bro3">
        <img src="image/pink.jpg" alt="pink" width="300px" height="300px">
        <p>pinksky</p>
    </div>

    <div class="bro4">
        <img src="image/back.jpg" alt="back" width="300px" height="300px">
        <p>winner</p>
    </div>

    <div class="bro5">
        <img src="image/house.jpg" alt="house" width="300px" height="300px">
        <p>house</p>
    </div>

    <div class="bro6">
        <img src="image/sunset.png" alt="sunset" width="300px" height="300px">
        <p>sunset</p>
    </div>
</section>
